@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-banner {
  background-image: url('/background/banner.png');
  padding: 80px 0px 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}


body {
}
